{% if not onlyInner %}
<div class="commentWithReplies">
{% endif %}
  <div class="comment">
    <a class="keyref" name="{{comment.key}}"></a>
    {% if comment.subject %}
    <h3>{{ comment.subject|escape }}</h3>
    {% endif %}
    <div class="commentbody">
      {% autoescape off %} 
      {{ comment.html_body }}
      {% endautoescape %}
    </div>
    <div class="meta">
      By <strong>{{ comment.username }}</strong> at
      <a href="#{{comment.key}}">{{ comment.posted_at }}</a>
      (<a href="#" onclick="javascript:replyForm(this); return false">reply...</a>)
      {% if comment.editable_by_current_user %}
        <input type="button" name="edit" value="Edit" onclick="editForm(this); return false;"/>
        <input type="button" name="remove" value="Remove" onclick="removeComment(this); return false;"/>
      {% endif %}
    </div>
  </div>
{% if not onlyInner %}
  <div class="indent">
    {% for reply in comment.replies %}
      {{ reply.draw }}
    {% endfor %}
  </div>
</div>
{% endif %}
