{% extends "base.html" %}

{% block title %}Open Radar FAQ{% endblock %}


{% block content %}
<h1>FAQ</h1>

<h2>What's this all about?</h2>

<p>On a couple of occasions I've been frustrated that I couldn't search the Apple bug database for problems that I was having or for the status of issues that others have filed, even when my own submissions have been marked as their duplicates.</p>

<p>I have heard that the bug database is closed because it contains customer-sensitive information.  That's understandable, but if it were possible to check a box that allowed public disclosure of our submissions, many of us would be willing to do that.</p>

<p>Recently Dave Dribin suggested on Twitter that he'd like to build an open database of Radars, something like a wiki that we could use as a community-fed opt-in system.  After exchanging some messages with Dave and Joachim Bengtsson, I put together this simple demo app running on Google App Engine.</p>
 
<p>It is basic but enough to get us started. All source code is on GitHub, and I am completely open to suggestion about this. If you think it is valuable, please start using it and we'll add whatever missing features we need.</p>

<p>Also, to make it easy to get data out of this, there's an api that  you can use to get a <span class="caps">JSON</span> dump of the entire store. For details, see the source on github.</p>

<p>If you have comments or ideas, please add them to the <a href="http://github.com/timburks/openradar/wikis/home">openradar wiki on github.</a></p>

<h2>Should I post my problem here instead of filing a Feedback?</h2>
<p>
No. This site is purely for sharing your experiences with other developers.
Please continue to use feedbackassistant.apple.com to file problem reports with Apple.
</p>

<h2>How should I mark a problem as a duplicate?</h2>
<p>
The best way to mark an problem as a duplicate is to change its status to <code>Duplicate/&lt;radar_number&gt;</code>. This way the issue will be linked to its parent radar (given that it exists on OpenRadar).
</p>

<h2>Should I post the responses I receive from Apple?</h2>
<p>
Please be careful to not post any confidential information that you receive from Apple.
Also, if you see something that you believe is confidential and that should not be on the site,
let me know and I'll take it down.
</p>
<p>Tim Burks (tim at radtastical dot com)</p> 
{% endblock %}

{% block sidebar %}
{% endblock %}
