{% extends "base.html" %}

{% block content %}

<h1>Edit My Radar</h1>

<div>
<form action="/myradars/edit?id={{ radar.key.id }}" method=POST>
<div style="float:right"><input type="submit" name="ok"></input></div>
<table>
<tr><td>Number:</td><td><input type="text" name="number" value="{{ radar.number|default_if_none:"" }}"></input></td>
    <td>Date Originated:</td><td><input type="text" name="originated" value="{{ radar.originated|default_if_none:"" }}"></input></td></tr>
<tr><td>Status:</td><td><input type="text" name="status" value="{{ radar.status|default_if_none:"" }}"></input></td>
    <td>Resolved:</td><td><input type="text" name="resolved" value="{{ radar.resolved|default_if_none:"" }}"></input></td></tr>

<tr><td>Title:</td><td colspan=3 style="padding-top:10px; padding-bottom:10px">
<input type="text" size="70" name="title" value="{{ radar.title|default_if_none:"" }}"></input></td></tr>

<tr><td>Product:</td><td><input type="text" name="product" value="{{ radar.product|default_if_none:"" }}"></input></td>
    <td>Product Version:</td><td><input type="text" name="product_version" value="{{ radar.product_version|default_if_none:"" }}"></input></td></tr>
<tr><td>Classification:</td><td><input type="text" name="classification" value="{{ radar.classification|default_if_none:"" }}"></input></td>
    <td>Reproducible:</td><td><input type="text" name="reproducible" value="{{ radar.reproducible|default_if_none:"" }}"></input></td></tr>
</table>
<p>Description:</p>
<textarea cols="80" rows="10" name="description">
{{ radar.description }}
</textarea>
<table>
</table>
</form>
</div>
<hr/>
<p>
<strong>Please note:</strong> 
Reports posted here will not necessarily be seen by Apple.
All problems should be submitted at bugreport.apple.com before they are posted here.
Please only post information for Radars that you have filed yourself, and please do
not include Apple confidential information in your posts. Thank you!
</p>

<hr/>

<p><a href="/myradars/delete?id={{ radar.key.id }}">Delete this Radar</a></p>

{% endblock %}

