{{define "body"}}
{{template "topbar" .}}
<div class="row">
<div class="large-8 medium-10 small-12 columns">
<h1>About Open Radar</h1>
<p><strong>Open Radar is an independent website for sharing information about problems that developers have reported to Apple.</strong> It has become a great place to share discoveries and discuss workarounds. Since Open Radar was launched in 2008, over three thousand developers have shared and discussed over fifteen thousand issues.</p>
<p>While you share, please keep these things in mind:</p>
<p><strong>Open Radar is not a substitute for filing Feedbacks with Apple.</strong><br/>
Please use <a href="https://feedbackassistant.apple.com">feedbackassistant.apple.com</a> to file problem reports directly with Apple.</p>
<p><strong>Open Radar is not a place to post Apple confidential information.</strong><br/>
Please be careful to not post any confidential information that you receive from Apple. Also, if you see something that you believe is confidential and that should not be on the site, let us know and we'll take it down.</p>
<p><strong>Open Radar is not affiliated with Apple in any way.</strong><br/>
It's a completely volunteer project and is not sponsored by any organization other than the developers who created and use it.</p>
<p>For more information, reach out anytime to <a href="http://twitter.com/timburks">@timburks</a> on Twitter.</p>
</div>
</div>
{{end}}