<table>
    <tr>
        <th>Number</th>
        <th>Status</th>
        <th>Originator</th>
        <th>Product</th>
        <th>Title</th>
    </tr>
{% if radars %}
{% for radar in radars %}
    <tr>
        <td><a href="rdar://problem/{{ radar.number }}">rdar</a>://<a href="/{{ radar.number }}">{{ radar.number }}</a></td>
        <td>{{ radar.status }}</td>
        <td>{{ radar.username }}</td>
        <td>{{ radar.product }}</td>
        <td><a href="/{{ radar.number }}">{{ radar.title }}</a></td>
    </tr>
{% endfor %}
{% endif %}
</table>
