<form>
  {% if comment.is_saved %}
  <input type="hidden" name="key", value="{{ comment.key }}" />
  {% endif %}
  <input type="hidden" name="radar", value="{{ comment.radar.key }}" />
  <input type="hidden" name="is_reply_to", value="{{ comment.is_reply_to.key }}" />
  <div class="comment">
    <h3><input name="subject" value="{{ comment.subject }}" /></h3>
    <div class="commentbody">
      <textarea name="body" rows="10">{{ comment.body }}</textarea>
    </div>
    <div class="meta">
      <input type="submit" value="Post message"/>
    </div>
  </div>
</form>