{% extends "base.html" %}


{% block content %}
<h1>FAQ</h1>

<h2>What's this all about?</h2>

<p>On a couple of occasions I've been frustrated that I couldn't search the Apple bug database for problems that I was having or for the status of issues that others have filed, even when my own submissions have been marked as their duplicates.</p>

	<p>I have heard that the bug database is closed because it contains customer-sensitive information.  That's understandable, but if it were possible to check a box that allowed public disclosure of our submissions, many of us would be willing to do that.</p>

	<p>Recently Dave Dribin suggested on Twitter that he'd like to build an open database of Radars, something like a wiki that we could use as a community-fed opt-in system.  After exchanging some messages with Dave and Joachim Bengtsson, I put together this simple demo app running on Google App Engine.</p>
 
	<p>It is basic but enough to get us started. All source code is on github, and I am completely open to suggestion about this. If you think it is valuable, please start using it and we'll add whatever missing features we need.</p>

	<p>Also, to make it easy to get data out of this, there's an api that  you can use to get a <span class="caps">JSON</span> dump of the entire store:</p>

	<p><a href="http://openradar.appspot.com/api/radars">http://openradar.appspot.com/api/radars</a></p>

	<p>That will be good until we get up to 1000 radars, at that point, we'll start hitting App Engine query limits and will have to support paginated queries.</p>

	<p>If you have comments or ideas, please add them to the <a href="http://github.com/timburks/openradar/wikis/home">openradar wiki on github.</a></p>

<h2>Should I post my problem here instead of filing a Radar?</h2>
<p>
No. This site is purely for sharing your experiences with other developers.
Please continue to use bugreport.apple.com to file problem reports with Apple.
</p>

<h2>Should I post the responses I receive from Apple?</h2>
<p>
Please be careful to not post any confidential information that you receive from Apple.
Also, if you see something that you believe is confidential and that should not be on the site,
let me know and I'll take it down.
</p>
<p><a href="http://blog.neontology.com">Tim Burks (tim at neontology dot com)</a> 
</p>
{% endblock %}

{% block sidebar %}
{% endblock %}
