{% extends "base.html" %}

{% block additionalincludes %}
<script src="/js/comments.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block title %}rdar://{{ radar.number|escape }}: {{ radar.title|escape }}{% endblock %}

{% block content %}
<h3>{{ radar.title|escape }}</h3>
<div>
<table>
<tr><td>Originator:</td><td style="min-width:200px">{{ radar.username|escape }}</td>
{% if mine %}	
<td><a href="/myradars/edit?id={{ radar.key.id }}">Modify My Radar</a></td>
{% else %}
<td></td>
{% endif %}
</tr>

<tr><td>Number:</td><td><a href="rdar://problem/{{ radar.number|escape }}">rdar</a>://<a href="/{{radar.number}}">{{ radar.number|escape }}</a></td>
    <td>Date Originated:</td><td>{{ radar.originated|default_if_none:"" }}</td></tr>

<tr><td>Status:</td><td>{{ radar.status|default_if_none:"" }}</td>
    <td>Resolved:</td><td>{{ radar.resolved|default_if_none:"" }}</td></tr>

<tr><td>Product:</td><td>{{ radar.product|default_if_none:"" }}</td>
    <td>Product Version:</td><td>{{ radar.product_version|default_if_none:"" }}</td></tr>

<tr><td>Classification:</td><td>{{ radar.classification|default_if_none:"" }}</td>
    <td>Reproducible:</td><td>{{ radar.reproducible|default_if_none:"" }}</td></tr>

</table>
<div style="padding:10px; font-size:80%">
<pre style="white-space:pre-wrap; max-width:800px"> 
{{ radar.description|escape }}
</pre>
</div>
</div>

<div id="error"></div>

<h2>Comments</h2>
<div class="comments">
  {% for comment in comments %}
    {{ comment.draw }}
  {% endfor %}
</div>
<input id="newcomment" type="button" value="Add a comment" />

<div style="display:none;" id="radar">{{radar.key}}</div>
<br />

<script type="text/javascript" charset="utf-8">
  if(jQuery("#error").text() == "") jQuery("#error").hide();
</script>

{% if not bare %}
<p style="margin-top:4em; border-top:solid thin">
<strong>Please note:</strong> 
Reports posted here will not necessarily be seen by Apple.
All problems should be submitted at bugreport.apple.com before they are posted here.
Please only post information for Radars that you have filed yourself, and please do
not include Apple confidential information in your posts. Thank you!
</p>
{% endif %}

{% endblock %}


{% block sidebar %}
{% endblock %}

