{% extends "base.html" %}

{% block content %}

<h1>Edit A Radar</h1>

<div>
<form action="/myradars/edit?id={{ radar.key.id }}" method=POST>
<div style="float:right"><input type="submit" name="ok"></input></div>
<table>
<tr><td>Number:</td><td><input type="text" name="number" value="{{ radar.number }}"></input></td></tr>
<tr><td>Title:</td><td><input type="text" name="title" value="{{ radar.title }}"></input></td></tr>
<tr><td>Status:</td><td><input type="text" name="status" value="{{ radar.status }}"></input></td></tr>
</table>
<p>Description:</p>
<textarea cols="80" rows="10" name="description">
{{ radar.description }}
</textarea>
</form>
</div>

<hr/>
<p><a href="/myradars/delete?id={{ radar.key.id }}">Delete this Radar</a></p>

{% endblock %}

